SECRET_KEY=mysecretkey
JWT_ACCESS_TOKEN_SECRET=yourAccessTokenSecret
JWT_REFRESH_TOKEN_SECRET=yourRefreshTokenSecret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=60s      # 15 minutes
JWT_REFRESH_TOKEN_EXPIRATION_TIME=7d       # 7 days
